# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/botway
/bin/botway

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor
node_modules
.next

# Build Files
date.txt
tag.txt
/packages/botway.js/lib
/test

# Python
__pycache__/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Rust
target/
Cargo.lock
osxcross

# Vercel
.vercel

# Turborepo
.turbo

web
.env
deno.lock
