[submodule "packages/botwaygo"]
	path = packages/botwaygo
	url = https://github.com/abdfnx/botwaygo
	branch = main
[submodule "packages/botwaycr"]
	path = packages/botwaycr
	url = https://github.com/abdfnx/botwaycr
	branch = main
[submodule "packages/botway-lua"]
	path = packages/botway-lua
	url = https://github.com/abdfnx/botway-lua
	branch = main
[submodule "runner"]
	path = runner
	url = https://github.com/botwayorg/runner
	branch = main
[submodule "templates"]
	path = templates
	url = https://github.com/botwayorg/templates
	branch = main
