.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  label {
    font-size: $f-base;
    font-weight: 500;
    margin-bottom: 8px;
  }

  input {
    padding: 8px 18px 8px 18px;
    background: transparent;
    border: 1px solid #151c27;
    border-radius: 8px;
    color: white;
    font-size: $f-sm;

    &:focus {
      border: 1px solid $c-primary;
      outline: 0;
      color: white;
    }

    &:global(.error) {
      border-color: $c-danger;

      &:focus {
        border-color: $c-danger;
        outline: 0;
        color: white;
      }
    }

    ::placeholder {
      color: #2b2c2e;
      opacity: 1;
    }

    :-ms-input-placeholder {
      color: #2b2c2e;
    }

    ::-ms-input-placeholder {
      color: #2b2c2e;
    }
  }

  span {
    color: $c-danger;
    margin-top: 4px;
  }
}

.btn {
  font-weight: 700;
}

.error {
  h5 {
    color: $c-danger !important;
    margin-bottom: 4px;
    font-family: Inter;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
}

.info {
  h5 {
    color: $c-dark-40 !important;
    margin-bottom: 4px;
    font-family: Inter;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
}
