@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap&display=swap");

@import "config/vars.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  scroll-behavior: smooth;
  font-size: 1rem;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.5;
  background: $bg;
}

.trsn {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  @apply text-blue-700;
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px !important;
  @apply bg-secondary;
}

::-webkit-scrollbar-corner {
  @apply bg-secondary;
}

.button {
  display: block;
  border-radius: 5px;
  @apply px-3 py-2 text-sm;
  font-weight: 500;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: border-color, background, color;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  font-size: 0.875rem;
  height: 40px;
  cursor: pointer;
  text-decoration: none;
}

blockquote {
  @apply my-6 p-2;
  @apply overflow-auto break-words;
}

/* input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
} */
